{{#partial best_hand_description}}
{{#(type == 'pair')}} pair of {{rank}}s {{/pair}}
{{#(type == 'quads')}} quad {{rank}}s with {{get_card_rank(kicker)}} kicker  {{/quads}}
{{#(type == 'three of a kind')}} three of a kind {{rank}}s  {{/trips}}
{{#(type == 'two pair')}} two pairs {{first_rank}}s, {{second_rank}}s  {{/two_pair}}
{{#(type == 'full house')}} full house of {{triple_rank}}s, {{double_rank}}s  {{/full_house}}
{{#(type == 'high card')}} {{high_rank}} high {{/high_card}}
{{#(type == 'royal flush')}} royal flush {{/royal_flush}}
{{#(type == 'straight flush')}} straight flush {{high_rank}} high {{/straight_flush}}
{{#(type == 'straight')}} straight {{high_rank}} high {{/straight}}
{{#(type == 'flush')}} flush {{/straight}}
{{/partial}}

{{#error}}<button class="pure-button" on-click="@.set('error', '')">x</button> Error:{{/error}}{{ error }}
{{#warning}}<button class="pure-button" on-click="@.set('warning', '')">x</button>Warning:{{/warning}}{{ warning }}
{{^game}}
Loading
{{/game}}

Current Name <b>{{name}}</b> <br/>
<input value='{{new_name}}' placeholder="new name"/> <button class="pure-button" on-click="change_name">Change Name</button>

{{#game}}
  <div>
    {{#is_any_user_active}}Move Timer: {{move_time_left.toFixed(2)}}{{/is_any_active}}
      <div class="circle-container">
	<div class="el table">
	  {{#pot}}
	    <span class="chips">
	      ${{pot.toFixed(0)}}
	    </span>
	  {{/pot}}

	  <!-- Community Cards --><br/>
	  {{#community_cards}}
            <span class="{{#is_win_card(.)}}win-card{{/win_card}} {{#is_lose_card(.)}}lose-card{{/lose}}">
	    <img intro-outro="slideh" class="card-large" src="{{get_card_url(.)}}"/>
            </span>
	  {{/community_cards}}
	  {{#win_screen}}
	    <br/><br/><br/><br/>
	    <span class="winner">
	      {{#(win_condition == 'last_man_standing')}}
              {{#winner}}
	        {{name}} won <span class="winnings">{{winnings}}</span><br/>
              {{/winner}}
	      {{/last_man_standing}}

	      {{#(win_condition == 'showdown')}}
	      {{#winner}}
	        {{name}} won <span class="winnings">{{winnings}}</span> with
                {{#best_hand}}
                  {{>best_hand_description}}
                <br/>
                {{#hand}}<img src="{{get_card_url(.)}}" class="card-small"/>{{/hand}}<br/>
                {{/best_hand}}
	      {{/winner}}
	      {{/showdown}}
	    </span>
	  {{/win_screen}}
	</div>

        <div class="el">
	  <div class="actions">
	    <span>
	      {{#can_i_bet_later}}
	        <!-- Auto actions -->
	        [4] <button class="pure-button {{# auto_action == 'check_fold'}}button-selected{{/button_on}}" on-click="auto_action" value="check_fold">
                {{#call_check == 'call'}} fold {{else}} check-fold {{/call_check}}</button><br/>
	        [5] <button class="pure-button {{# auto_action == 'call'}}button-selected{{/button_on}}" on-click="auto_action" value="call">{{ call_check }} {{#call_check == 'call'}}{{ amount_needed_to_call }}{{/call_check}}</button><br/>
	        [6] <button class="pure-button {{# auto_action == 'call_any'}}button-selected{{/button_on}}" on-click="auto_action" value="call_any">call any</button><br/>
	      {{/can_i_bet_later}}

	      {{#is_my_turn}}
	        {{^raise_menu}}
                  [0] <button class="pure-button pure-button-primary" on-click="all_in">all in</button><br/>
	          {{#call_check=='call'}}[1] <button class="pure-button pure-button-primary" on-click="fold">fold</button><br/>{{/display_fold}}
	          {{#can_call}}
                    <!-- Remark: here a check's value is "call" because a check is a call of 0 -->
	             [2] <button class="pure-button pure-button-primary" on-click="call_check">{{call_check}} {{#amount_needed_to_call>0}}{{amount_needed_to_call}}{{/amt}}</button><br/>
	          {{/can_call}}
	          {{#can_raise}}
	            [3] <button class="pure-button pure-button-primary" on-click="show_raise_menu">raise</button><br/>
	          {{/can_raise}}
	          {{/hide_raise_menu}}
	          <!--  raise menu -->
	          {{#raise_menu}}
	            <button class="pure-button" on-click="raise_increase">[+]</button>
	            <button class="pure-button" on-click="raise_decrease">[-]</button> <button class="pure-button" on-click="hide_raise_menu">[escape]</button><br/>
	            <button class="pure-button pure-button-primary" on-click="raise">raise to {{current_bet + raise_amount}}</button> [enter]<br/><br/>
	          {{/raise_menu}}
                  
	      {{/is_my_turn}}
	    </span>
	  </div>
        </div>

	{{#seats}}
	  <div class="el seat position{{((seat_number -  maybe_my_seat_number + 5) + 10)%10}} {{state}} {{#(seat_number == active_user_position)}}active{{/active}} {{#(win_screen && userid == win_screen.winner.userid)}}winner{{/winner}}">
	  {{#disconnected}}<span class="disconnected">Disconnected</span>{{/disconnected}}

            {{#(seat_number == dealer_position)}}
            <span class="dealer-button white">D</span>
            {{/dealer}}

            {{#(seat_number == big_blind_position)}}
            <span class="button yellow">BB</span>
            {{/big_blind}}

            {{#(seat_number == small_blind_position)}}
            <span class="button yellow">SB</span>
            {{/small_blind}}
            

	    {{#round_bet}}
	      <span class="chips">
	        ${{round_bet.toFixed(0)}}
	      </span>
	    {{/round_bet}}

            <!-- replace disconnected user -->
            {{#disconnected}}{{^my_seat}}<button class="join_button pure-button pure-button-primary" on-click="replace">Steal Seat</button>{{/my_seat}}{{/disconnected}}
            
	  <!-- Join/Buy in menu -->
	  {{#(state == 'empty' && !my_seat)}}
	  {{#(show_buyin_menu != seat_number)}}
	  <button class="join_button pure-button pure-button-primary" on-click="show_buyin_menu">Join</button>
	  {{/step1}}
	  {{#(show_buyin_menu == seat_number)}}
	  <button class="pure-button" on-click="buy_in_increase">+</button>
	  <button class="pure-button" on-click="buy_in_decrease">-</button> <br/>
	  <button class="pure-button pure-button-primary" on-click="buy_in">buy in for {{buy_in}}</button>
	  {{/step2}}
	  {{/buyin_menu}}
	  <!-- End buy in menu -->

	  <!-- User Display -->
	  {{#userid}}
	    <span class="user">{{name}} ${{money.toFixed(0)}} </span>
	    {{#hole_cards}}
              <span class="{{#is_win_card(.)}}win-card{{/win_card}} {{#is_lose_card(.)}}lose-card{{/lose}}">
	      <img src="{{get_card_url(.)}}" intro-outro="slideh" class="card-large"/>
              </span>
	    {{/hole_cards}}
	  {{/userid}}

	  <span class="last_move">
	    {{last_move}}
	  </span>
	  </div>
	{{/seats}}
      </div>

    </div>

    {{#history}}
      {{#(category == 'phase_transition')}}
      <b>{{phase}}</b>
      {{^(phase == 'showdown')}}
      {{#community_cards : idx}}{{#(idx == 0)}}<br/>{{/idx}}<img src="{{get_card_url(.)}}" class="card-tiny"/>
      {{/community_cards}}
      {{/not_showdown}}
      {{/phase_transition}}
      
      {{#(category == 'text')}}
      {{message}}
      {{/text}}

      {{#(category == 'win_info')}}
      {{name}} {{#if(hole_cards)}}revaled {{#hole_cards}}<img src="{{get_card_url(.)}}" class="card-tiny"/>{{/hole_cards}} and {{/if}}
      won {{winnings}} {{#best_hand}}with {{>best_hand_description}} {{#hand}}<img src="{{get_card_url(.)}}" class="card-tiny"/>{{/hand}} {{/best_hand}}
      {{/win_info}}

      <br/>
    {{/history}}
{{/game}}