.content {
    margin: auto;
    width: 50em;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.seat {

}

.active {
    background-color: green;
}

.card {
    width: 2em;
    height: 3em;
}

.card-large {
    width: 4em;
    height: 6em;
}


