.content {
    margin: auto;
    width: 50em;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-selected {
    background-color: 787C81;
}

.seat {

}

.active {
    background-color: CCFF99;
}

.folded {
    opacity: .5;
}

.winner {
    background-color: 99FFFF;
}

.card-small {
    width: 3.0em;
    height: 5.2em;
}

.card-large {
    width: 4em;
    height: 6em;
}

.disconnected {
    background-color: FF4C4C;
}

.circle-container {
    position: relative;
    width: 50em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    margin: 1.75em auto 0;
}

.circle-container .el {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -3em;
    margin-left: -3em;
}

.seat {
    width: 8em;
}

.position0 { transform: translate(22em); } /* 12em = half the width of the wrapper */
.position1 { transform: rotate(26deg) translate(20em) rotate(-26deg); }

.position2 { transform: rotate(72deg) translate(12em) rotate(-72deg) translate(2em); }
.position3 { transform: rotate(108deg) translate(12em) rotate(-108deg) translate(-3.5em); }

.position4 { transform: rotate(154deg) translate(20em) rotate(-154deg); }
.position5  { transform: rotate(180deg) translate(24em) rotate(-180deg); }
.position6  { transform: rotate(206deg) translate(20em) rotate(-206deg); }
.position7  { transform: rotate(252deg) translate(12em) rotate(-252deg) translate(-1.5em); }
.position8  { transform: rotate(288deg) translate(12em) rotate(-288deg) translate(2em); }

.position9  { transform: rotate(334deg) translate(20em) rotate(-334deg); }

.table { 
    transform: translate(-5.5em) rotate(90deg) translate(-4.2em) rotate(-90deg);
}

.actions {
    transform: translate(-15.7em);
    width: 12em;
}

.chips {
    background-color: #32CD32;
    padding: .1em;
    border: .1em solid #228B22;
    border-radius: .8em;
    position: absolute;
    left: -1.4em;
    top: 2.7em;
}

.winnings {
    background-color: #32CD32;
    padding: .1em;
}

.user {
    position:absolute;
    top: -1em;
}

.last_move {
    position: absolute;
    top: 6em;
    left: 2em;
    background-color: #FFFF99;
}