<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168713892-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-168713892-4');
  </script>
  <link rel="stylesheet" href="{{static_url("css/tachyons.min.css")}}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script src='{{static_url("js/ractive.js")}}'></script>
  <script src='{{static_url("js/client.js")}}' charset="utf-8"></script>
</head>

<div id="content"></div>

<script>
    init("{{ gameid }}", "{{ preferred_name }}", "{{static_url("mustaches/modern.mustache")}}");
</script>
