{{#partial card_display}}
<span class="color: {{ get_card_color(.) }}">{{ get_card_unicode(.) }}</span>&nbsp;
{{/partial}}
{{#partial best_hand_description}}
{{type}} {{#hand}}{{>card_display}}{{/hand}}
{{/partial}}

{{#partial hand_type}}
{{#(type == 'pair')}} pair {{short_rank(rank)}} {{/pair}}
{{#(type == 'quads')}} quad {{short_rank(rank)}} {{/quads}}
{{#(type == 'three of a kind')}} trip {{short_rank(rank)}} {{/trips}}
{{#(type == 'two pair')}} two pair {{short_rank(first_rank)}} & {{short_rank(second_rank)}}  {{/two_pair}}
{{#(type == 'full house')}} full house {{short_rank(triple_rank)}} & {{short_rank(double_rank)}} {{/full_house}}
{{#(type == 'high card')}} high {{short_rank(high_rank)}}  {{/high_card}}
{{#(type == 'royal flush')}} r. flush {{/royal_flush}}
{{#(type == 'straight flush')}} st. flush {{short_rank(high_rank)}} {{/straight_flush}}
{{#(type == 'straight')}} straight {{short_rank(high_rank)}} {{/straight}}
{{#(type == 'flush')}} flush {{/straight}}
{{/partial}}

{{#partial seating_menu}}
{{#(state == 'empty' && !my_seat)}}
{{#(show_buyin_menu != seat_number)}}
<button on-click="show_buyin_menu">buy in</button>
{{/step1}}
{{#(show_buyin_menu == seat_number)}}
<button on-click="buy_in">${{buy_in}}</button><br/>
<button on-click="buy_in_decrease">-</button>
<button on-click="buy_in_increase">+</button>
{{/step2}}
{{/not_already_seated}}
{{/partial}}

{{#partial player_box_color_css}}
ba

{{#userid && win_screen.winner.userid == userid}}
b--yellow bg-yellow{{else}}
{{#(state == "all_in")}}
b--light-pink bg-light-pink{{else}}
{{#(seat_number == active_user_position)}}
b--dark-green bg-lightest-blue{{else}}
b--lightest-blue bg-lightest-blue{{/user_active}}
{{/all_in}}
{{/winner}}


{{/partial}}



{{#partial player_box}}
<div class="fl mb1 relative w-100 bw1 {{>player_box_color_css}} {{#(state == "folded" && !revealers.includes(userid))}}o-50{{/fold}}">

  <!-- timer -->
  {{#(seat_number == active_user_position)}}
  <div class="absolute h3 top-0 bg-dark-green" style="width:{{(move_time_left/move_time).toFixed(3)*100}}%; height:5%"></div>
  {{/move_timer}}

  <!-- user line -->
  <div class="fl pa1 w-100 h1">
    {{#if(userid)}}
    <div class="fl truncate w-100">
      {{#(dealer_position == seat_number)}}<span class="gray f7">(D)</span>{{/dealer_position}}
      {{#(big_blind_position == seat_number)}}<span class="gray f7">(B)</span>{{/bb_position}}    
      {{#(small_blind_position == seat_number)}}<span class="gray f7">(S)</span>{{/sb_position}}
      <span class="green f5">${{money.toFixed(0)}}</span>
      <span class="athelas f5 {{#is_me(userid)}}b i{{/is_me}} {{#if(disconnected)}}strike{{/if}}">{{name}}</span>
    </div>
    {{/if}}
  </div>

  <!--- info area -->
  <div class="fl pa0 h3 w-100">
    {{#if(userid)}}
    {{#if revealers.includes(userid) }}
    <!-- revealer info -->
    <div class="fl pa1 pt2 w-100 tc">
      <div class="fl w-100">
        <div class="ttu f7">
          {{#best_hand}}{{>hand_type}}{{/hand_type}}
        </div>
        {{#if best_hand.hand.length > 2}}
        <div class="f5 ">
          {{#best_hand.hand}}{{>card_display}}{{/hand}}
        </div>
        {{/if}}
      </div>
      <div class="fl w-100">
        {{#if is_current_winner(userid)}}
        <span class="green f5">
          +${{win_screen.winner.winnings.toFixed(0)}}
        </span>&nbsp;
        {{/if}}

        <span class="f4 nowrap underline">
          {{#hole_cards}}
          {{>card_display}}
          {{/hole_cards}}
        </span>
      </div>
    </div>
    {{else}}
    <!-- player betting info, non-showdown -->
    <div class="fl pa1 pt2 w-100 tc">
      {{#if is_current_winner(userid)}}
      <span class="green f5">+${{win_screen.winner.winnings.toFixed(0)}}</span>&nbsp;
      {{/if}}
      <span class="nowrap">
      {{#hole_cards}}
        <span class="f3">{{>card_display}}</span>
      {{/hole_cards}}
      </span>
      <span class="f3 nowrap">&nbsp;{{#round_bet}}⛃${{ round_bet.toFixed(0) }}{{/round_bet}}</span>
    </div>
    {{/if}}
    {{else}}
    <!-- no user -->
    <div class="fl pa0 w-100 tc f5">{{>seating_menu}}</div>
    {{/if}}
  </div>
  
</div>
{{/partial}}


<div class="f1 h3 pa2 ttu tc tracked">aces.io</div>

{{#game}}
<div class="center-ns w-100">
  <!-- user bar -->
  <div class="fl w-100 pa1 tr bg-lightest-blue">
      {{#if(my_seat && (!my_seat.disconnected))}}
      <span class="green f3">${{ my_seat.money.toFixed(0) }}</span>&emsp;
      {{/if}}
      <input class="athelas f5 ma1 bg-white ba bw0" value='{{new_name}}'/>
      <button class="f5" on-click="change_name">change name</button>
      {{#if(my_seat && (!my_seat.disconnected))}}<button class="f5" on-click="leave_seat">leave seat</button>{{/if}}
  </div>

  <!-- game state -->    
  <div class="f2 w-100 tc ttu tracked">{{ pretty_game_state }}</div>
  <!-- player columns -->
  <div class="fl w-third-l w-50 pa0 pr2 pl2">
    <div class="fl w-50 pr1">
    {{#reverse_seat_idxs}}
      {{#if(. >= seats.length/2)}}
      {{#seats[.]}}{{>player_box}}{{/seat}}
      {{/if}}
    {{/seat_idxs}}
    </div>      
    <div class="fl w-50">
    {{#seat_idxs}}
      {{#if(. < seats.length/2)}}
      {{#seats[.]}}{{>player_box}}{{/seat}}
      {{/if}}
    {{/reverse_seat_idxs}}
    </div>
  </div>

  <!-- this user area -->
  <div class="fl w-third-l w-50 pa0">
    <div class="fl tc w-100"><span class="ttu tracked f4">Pot</span> <span class="f3">⛃${{pot.toFixed(0)}}</span></div>
    <div class="fl w-100 h3">
    {{#community_cards}}<div class="relative f2 tc fl w-20 pa0">{{>card_display}}</div>{{/community_cards}}
    </div>
    
    {{#my_seat}}
    {{#if(!disconnected)}}
    <div class="relative mb1 fl h5 w-100 pa0 pt3 pb3
      bw2 {{>player_box_color_css}}">
      {{#(seat_number == active_user_position)}}
      <div class="absolute top-0 pa0 ma0 bg-dark-green" style="width:{{(move_time_left/move_time).toFixed(3)*100}}%; height:5%"></div>
      {{/move_timer}}

      <span class="{{#(state == "folded") && can_reveal}}o-50{{/fold}}">
        <div class="fl w-100 pa0 f3 h1 tc">
          {{#round_bet}}⛃${{ round_bet.toFixed(0) }}{{/round_bet}}
        </div>    
        <div class="fl w-100 pa1 f1 h3 tc {{#revealers.includes(userid)}}underline{{/revealed}}">
        {{#hole_cards}}{{>card_display}}{{/hole_cards}}
        </div>
  
        <div class="fl w-100 h2 tc">
          <span class="ttu f5 tracked">{{#best_hand}}best hand{{/best_hand}}</span>
          <span class="ttu f6 tracked">
            <br/>
            {{#best_hand}}{{>hand_type}}{{/best_hand}}
          </span>
          {{#if best_hand.hand.length > 2}}
          <span>&nbsp;&nbsp;</span>
          <span class="f5">{{#best_hand.hand}}{{>card_display}}{{/best_hand.hand}}</span>
          {{/if}}
        </div>
      </span>

      <div class="fl w-100 pa3 f3 tc">
        {{#can_i_bet_later}}
        <span class="ttu tracked">pre-move</span> <br/>
        {{^amount_needed_to_call}}
        <button
          class="{{#auto_action == 'check_fold'}}bg-silver{{/selected}}"
          on-click="auto_action" value="check_fold">check fold</button>
        {{/can_check}}
        <button
          class="{{#auto_action == 'call'}}bg-silver{{/selected}}"
          on-click="auto_action" value="call">{{#if(amount_needed_to_call)}}call{{else}}check{{/if}}</button>
        <button
          class="{{#auto_action == 'call_any'}}bg-silver{{/selected}}"
          on-click="auto_action" value="call_any">call any</button>
        {{/can_i_bet_later}}
        
        {{#is_my_turn}}
        {{^raise_menu}}
        <button on-click="all_in">all in</button>
        <button on-click="fold">fold</button>
        <button on-click="call_check">{{call_check}}</button>
        {{#can_raise}}<button on-click="show_raise_menu">raise</button>{{/can_raise}}
        {{/no_raise_menu}}
  
        {{#raise_menu}}
        <button on-click="hide_raise_menu">cancel</button>        
        <button on-click="raise">ok</button>        
        <button on-click="raise_decrease">-</button>
        <button on-click="raise_increase">+</button> <br/>
        ⛃${{ round_bet }} 🡒 ⛃${{ (current_bet + raise_amount).toFixed(0) }}
        {{/raise_menu}}
        {{/is_my_turn}}

        {{#can_reveal}}
        <button on-click="reveal">reveal</button>
        {{/can_reveal}}
      </div>
    </div>
    {{/if}}
    {{/my_seat}}
  </div>

  <!-- history -->
  <div class="cf fl w-third-l w-100 pl2">
    {{#history}}
      {{#(category == 'phase_transition')}}
      <b>{{phase}}</b>
      {{^(phase == 'showdown')}}
      {{#community_cards : idx}}
      {{#(idx == 0)}}<br/>{{/idx}}{{>card_display}}
      {{/community_cards}}
      {{/not_showdown}}
      {{/phase_transition}}
      
      {{#(category == 'text')}}
      {{message}}
      {{/text}}
  
      {{#(category == 'win_info')}}
      {{name}} {{#if(hole_cards)}}revaled <u>{{#hole_cards}}{{>card_display}}{{/hole_cards}}</u> and {{/if}} won ${{winnings}} {{#best_hand}}with {{#hand}}{{>card_display}}{{/hand}} ({{>hand_type}}){{/best_hand}}
      {{/win_info}}

      {{#category == 'reveal'}}
      {{name}} revealed <u>{{#hole_cards}}{{>card_display}}{{/hand}}</u>
          {{#if best_hand.hand.length > 2}}making {{#best_hand.hand}}{{>card_display}}{{/hand}}{{/if}} ({{#best_hand }}{{>hand_type}}{{/best_hand}})
      {{/reveal}}
      <br/>
    {{/history}}
  </div>
</div>

{{/game}}