<head>
<link rel="stylesheet" href="{{static_url("css/pure-min.css")}}">
<link rel="stylesheet" href="{{static_url("css/client.css")}}">
<script src='{{static_url("js/ractive.js")}}'></script>
<script src='{{static_url("js/ractive-transitions-slidehorizontal.js")}}'></script>
<script src="{{ static_url("js/client.js")}}"></script>
</head>

<body>
  <button class="pure-button" onclick="navigator.clipboard.writeText(window.location.href);">📋 Copy Game Address</button>
  <div id="content" class="content"></div>

  <script>
    var images_dir = "{{ static_url("images/") }}";

    var ractive = undefined;
    var send = undefined;
    var receive = function(msg) {
        var msg = JSON.parse(msg);
        console.log(msg);

        if (msg['warning']) {
            ractive.set('warning', msg['warning']);
        }
        if (msg['error']) {
            ractive.set('error', msg['error']);
        }

        var action = msg['action'];
        if (action == "synchronize_game" && ractive) {
        ractive.set({game: msg.game,
                     userid: msg.userid,
                     name: msg.name,
                     timestamp: msg.timestamp
        });
        }
    }

    fetch("{{static_url("js/client.mustache")}}")
    .then(response => response.text())
    .then(text => {
        ractive = initialize_ractive(text, images_dir);
        send = game_connect("{{gameid}}", "{{preferred_name}}", receive);
    });
  </script>

</body>
