<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="{{static_url("css/client.css")}}">
<script src='http://cdn.ractivejs.org/latest/ractive.js'></script>
</head>

<body>
<div id="content" class="content"></div>

<script id='template' type='text/ractive'>
{{!^game}}
Loading
{{!/game}}

{{!#game}}
  <h1 class="title">Game #{{gameid}}</h1>
  <div class="pure-g">
    <div class="pure-u-4-5">
      <div class="pure-g">
      <div class="pure-u-3-5">Public Info</div>
      <div class="pure-u-1-5">Hole Cards</div>
      <div class="pure-u-1-5">Actions</div>
      {{!#seats:seat_number}}
	<div class="pure-u-1-5 seat {{!state}}">
	  Seat {{!seat_number + 1}}<br/>

	  <!-- Join/Buy in menu -->
	  {{!#(state == 'empty' && my_seat == -1)}}
	  {{!#(show_buyin_menu != seat_number)}}
	  <a href="#" class="join_button pure-button pure-button-primary" on-click="show_buyin_menu">Join</a>
	  {{!/step1}}
	  {{!#(show_buyin_menu == seat_number)}}
	  <a href="#" class="pure-button" on-click="buy_in_increase">+</a>
	  <a href="#" class="pure-button" on-click="buy_in_decrease">-</a> <br/>
	  <a href="#" class="pure-button pure-button-primary" on-click="buy_in">Buy In for {{!buy_in}}</a>
	  {{!/step2}}
	  {{!/buyin_menu}}
	  <!-- End buy in menu -->

	  <!-- User Display -->
	  {{!#userid}}
	  {{!name}} <br/>
	  {{!money}}
	  {{!state}}
	  {{!/userid}}
	  <!-- End User Display -->
	</div>
      {{!/seats}}
    </div>
      </div>
    <div class="pure-u-1-5">History</div>
  </div>
{{!/game}}
</script>

<script src="{{ static_url("js/client.js")}}"></script>
<script>

  var ractive = new Ractive({
  el: '#content',
  template: '#template',
  computed: {
  
  seated_userids: function() {
  return this.get('game.seats').map(function(seat){ return seat.userid });
  },

  my_seat: function() {
  var userid = this.get('userid');
  var seated_userids = this.get('seated_userids');
  return seated_userids.indexOf(userid);
  }

  }

  });

<!-- Action handlers -->
var synchronize_game = function(game) {
ractive.set('game', game);
ractive.set('buy_in_increment', game.min_buy_in/2);
}
var set_userid = function(userid) {
console.log("setting userid", userid);
ractive.set('userid', userid);
}

var receive = function(msg) {
var msg = JSON.parse(msg);
console.log(msg)
var action = msg['action']
if (action == "synchronize_game") synchronize_game(msg.game);
if (action == "set_userid") set_userid(msg.userid);
window.msg = msg
}
<!-- end action handlers -->

var send = connect({{gameid}}, receive);

<!-- Buy in menu -->
ractive.on('show_buyin_menu', function(event) {
ractive.set('show_buyin_menu', event.index.seat_number);
ractive.set('buy_in', ractive.get('game.min_buy_in'))
console.log(event)
});

ractive.on('buy_in_increase', function(event) {
ractive.add('buy_in', ractive.get('buy_in_increment'));
});

ractive.on('buy_in_decrease', function(event) {
var current = ractive.get('buy_in');
var next = current - ractive.get('buy_in_increment');
var result = Math.max(next, ractive.get('game.min_buy_in'));
ractive.set('buy_in', result);
});

ractive.on('buy_in', function(event) {
send({'action':'buy_in', 'buy_in': ractive.get('buy_in'), 'seat_number': event.index.seat_number});
});
<!-- End Buy in menu -->

</script>

</body>
