<head>
  <title>aces.io</title>
  <link rel="stylesheet" href="{{static_url("css/tachyons.min.css")}}">
  <script src='{{static_url("js/ractive.js")}}'></script>
</head>

<script id="template" type="text/ractive">
  <span class="ttu tracked f3 w-100">Game Id</span><br/>
  <input class="w-40 f4" value="{{!gameid}}"/><br/>
  <br/>
  <span class="ttu tracked f3">Game URL</span><br/>
  {{!# gameid_validates(gameid) }}<a class="f4" href="game/{{!gameid}}">/game/{{!gameid}}</a>{{!else}}
  <span class="f5 red">error: valid characters are letters, numbers, and hyphen</span>
  {{!/validates}}
  <br/>
  <span class="f5">visit the url to create/join the game<br/>all users close to destroy the game</span><br/>
</script>

<body>
  <div class="pb3">
    <div class="f1 h3 pa2 ttu tc tracked">aces.io</div>
    <div class="center-ns mw8 tc">
      <a class="f3" href="https://github.com/markisus/aces.io">github</a>
    </div>
  </div>


  <div class="cf center mw6 pa4 f4 bg-lightest-blue">
    <span id="interactive">
    </span>
    <br/>
    Small Blind <i>1¢</i><br/>
    Big Blind <i>2¢</i><br/>
    Buy In <i>$10</i><br/>

    <br/>
    <span class="ttu tracked f4">features</span><br/>
    &emsp; + no registration<br/>
    &emsp; + anyone with the link can join<br/>
    &emsp; + fake money<br/>
    &emsp; + copy/pastable auto-updating ledger<br/>
    <br/>

    <span class="ttu tracked f4">Tech</span><br/>
    &emsp; + <a href="https://github.com/markisus/aces.io">open source</a><br/>
    &emsp; + <a href="https://github.com/tornadoweb/tornado">tornado</a><br/>
    &emsp; + <a href="https://ractive.js.org/">ractive-js</a><br/>
    &emsp; + <a href="https://tachyons.io/">tachyons-css</a><br/>
  </div>  
  <div id="content">
  </div>

  <script>
    var ractive = new Ractive({
    el: "#interactive",
    template: "#template",
    data: {
      gameid: 'demo',
      gameid_validates : function(gameid) {
        var regexp = /^[a-zA-Z0-9\-]+$/;
        return regexp.test(gameid);
      },
    },
    });

    
  </script>  
</body>
